<div id="header">
  <div id="logoContainer">
    <a routerLink="/">
      <img id="logo" src="assets/images/magiclogo.png"/>
    </a>
  </div>
  <ul class="nav nav-tabs" id="tabs">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" routerLink="/">
        <p id="p">Inicio</p>
      </a>
    </li>
    @if(checkUserRole()){
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/employee">
          <p id="p">Empleados</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/newComputer">
          <p id="p">Crear Ordenador</p>
        </a>
      </li>
    }
    @if(checkToken() && !checkUserRole()){
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/">
          <p id="p">Reservas</p>
        </a>
      </li>
    }
  </ul>
  <div id="stateButton">
    <div id="loginContainer">
      @if(!checkToken()){
        <a id="buttonStyle" routerLink="/login">
          <p id="buttonText">Iniciar Sesion</p>
        </a>
      } @else {
        <p>Loggeado como: {{ checkUsername() }}</p>
        <a id="buttonStyle" (click)="logout()" routerLink="/logout">
          <p id="buttonText">Cerrar Sesion</p>
        </a>
      }
    </div>
  </div>
</div>

<div class="container py-5">
  <router-outlet/>
</div>

<div id="footer">
  <p id="footerText">Nuestras redes sociales</p>
  <div id="socialMedia">
    <img id="socialMediaIcon" src="assets/images/facebook.png"/>
    <img id="socialMediaIcon" src="assets/images/instagram.png"/>
    <img id="socialMediaIcon" src="assets/images/twitter.png"/>
  </div>
</div>