<div id="header">
  <div id="logoContainer">
    <img id="logo" src="assets/images/magiclogo.png"/>
  </div>
  <div id="tabs">
    <div id="tab">
      <p id="p">Inicio</p>
    </div>
    <div id="tab">
      <p>Reservas</p>
    </div>
  </div>
  <div id="stateButton">
    <div id="loginContainer">
      <a id="buttonStyle" routerLink="/">
        <p id="buttonText">Iniciar Sesion</p>
      </a>
    </div>
  </div>
</div>

<div class="container py-5">
  <router-outlet/>
</div>

<div id="footer">
  <p id="footerText">Nuestras redes sociales</p>
  <div id="socialMedia">
    <img id="socialMediaIcon" src="assets/images/facebook.png"/>
    <img id="socialMediaIcon" src="assets/images/instagram.png"/>
    <img id="socialMediaIcon" src="assets/images/twitter.png"/>
  </div>
</div>