<h2 class="mb-5">
    Registrarse
</h2>

@if(form){
    <form [formGroup]="form" (ngSubmit)="register()">
        <div class="mb-3">
            <label for="username">Usuario</label>
            <input type="text" class="form-control" id="username" formControlName="username">
            @if(form.get('username')?.hasError('required') && form.get('username')?.touched){
                <p class="invalid-feedback d-block">El nombre es obligatorio</p>
            }
        </div>
        <div class="mb-3">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" id="password" formControlName="password">
            @if(form.get('password')?.hasError('required') && form.get('password')?.touched){
                <p class="invalid-feedback d-block">El nombre es obligatorio</p>
            }
        </div>
        <div class="mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
            @if(form.get('email')?.hasError('required') && form.get('email')?.touched){
                <p class="invalid-feedback d-block">El email es obligatorio</p>
            }
    
            @if(form.get('email')?.hasError('email') && form.get('email')?.touched){
                <p class="invalid-feedback d-block">El email no es válido</p>
            }
        </div>
        <div class="mb-3">
            <label for="firstName">Nombre</label>
            <input type="firstName" class="form-control" id="firstName" formControlName="firstName">
            @if(form.get('firstName')?.hasError('required') && form.get('firstName')?.touched){
                <p class="invalid-feedback d-block">El nombre es obligatorio</p>
            }
        </div>
        <div class="mb-3">
            <label for="lastName">Apellidos</label>
            <input type="lastName" class="form-control" id="lastName" formControlName="lastName">
            @if(form.get('lastName')?.hasError('required') && form.get('lastName')?.touched){
                <p class="invalid-feedback d-block">El nombre es obligatorio</p>
            }
        </div>
        @if(checkUserRole()){
            <div class="mb-3">
            <label for="role">Rol</label>
                <select class="form-select">
                    <option selected>Elige una:</option>
                    <option value="ROLE_USER">User</option>
                    <option value="ROLE_ADMIN">Admin</option>
                </select>
            </div>
        }
        <div>
            <button type="button" class="btn btn-secondary" routerLink="/">Cancelar</button>
            <button type="submit" class="btn btn-primary ms-2">Guardar</button>
        </div>
    </form>
}

